<div class="header-section">
    <div class="side-bar" (click)="openSideNav()">
        <span class="icon-cointainer">
            <img src="assets\icons\bars.svg" />
        </span>
    </div>
    <div class="header">
        <div class="header-titles">
            <div class="company-title">
                <span>
                    <img class="pepper-title" src="assets\icons\pepper.svg" />
                </span>
                <span class="separator">
                </span>
                <span>
                    <img class="advantage-title" src="assets\icons\advantage.svg" />
                </span>
            </div>
        </div>
        <div class="help-icons">
            <div class="help">
                <img src="assets\icons\help.svg" />
            </div>
            <div>
                <img src="assets\icons\notification.svg" />
            </div>
            <div class="user-thumbnail">
                <span class="thumbnail">
                    U1
                </span>
            </div>
        </div>
    </div>