$login-background: linear-gradient(135deg, #DF0024 0%, #411941 100%);
$white:#FFF;
$webkit-fill:-webkit-fill-available;
$dark-blue : #002841;
$dark-red: #DF0024;
$purple:#411941;
$border-line : 1px solid var(--grey-300, #E0E0E0);
$black : #000;
$strock-light : #E0E0E0;
$gray-light-grey: #FAFAFA;
$typography-label : #5C6166;
$my-indigo:#FFD600;
$text-light-grey: #637381;
$ivory : #BDBDBD;
$off-white : #E9ECEF;
$gray-dark-grey : #9D9D9D;